<ion-header>
  <ion-toolbar color="dark">
    <ion-back-button slot="start" (click)="openSettings()"></ion-back-button>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title class="ion-text-center" style="font-style: oblique;">Developer Details</ion-card-title>
    <ion-card-header>
      <ion-img src="../../assets/teamwork.svg"></ion-img>
    </ion-card-header>

    <ion-list>
      <ion-item>
        <ion-label>Name: Jabez du Preez</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>Email: jabez.dupreez11@gmail.com</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Occupation: Mobile/Front-end Developer</ion-label>
          </ion-item>
    </ion-list>

    <ion-item>
      <ion-label>
        App Version: 1.0.0
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
